<div class="suggested-tribes">
    <p class="heading pb-0 mb-0">Your Tribes</p>
    <div class="tribes py-3">
      <img src="images/group-icon.png" alt="">
      <p class="tribe-name">Tech Innovators</p>
      <p class="tribe-headline">A community of tech enthusiasts, innovators, and collaborators.</p>
      <p class="members">550 Members</p>
      <button class="rounded request-button" type="button">Message</button>
    </div>
    <div class="tribes py-3">
      <img src="images/group-icon.png" alt="">
      <p class="tribe-name">Tech Innovators</p>
      <p class="tribe-headline">A community of tech enthusiasts, innovators, and collaborators.</p>
      <p class="members">550 Members</p>
      <button class="rounded request-button" type="button">Message</button>
    </div>
    <div class="tribes py-3">
      <img src="images/group-icon.png" alt="">
      <p class="tribe-name">Tech Innovators</p>
      <p class="tribe-headline">A community of tech enthusiasts, innovators, and collaborators.</p>
      <p class="members">550 Members</p>
      <button class="rounded request-button" type="button">Message</button>
    </div>
    <div class="show-more">
      <p class="mb-0">Show More <img src="images/bottom-arrow.png" width="15px" alt=""></p>
    </div>
  </div>