<%- include("partials/header.ejs") %>

<div class="container py-5">
    <h1 class="headings">About Us</h1>
    <hr>
    <h3 class="about-heading">Our Story</h3>
    <p>At TribeSphere, our journey began with a simple yet powerful idea: the idea that connecting with others through shared passions has the potential to transform lives. It all started when a group of individuals, each with their unique interests, realized the magic that happens when like-minded souls come together. This realization ignited the spark that led to the creation of TribeSphere.</p>
    <h3 class="pt-2 about-heading">Our Mission</h3>
    <p>Our mission is clear: to provide a platform that goes beyond the surface and allows you to form connections that resonate on a deeper level. We're here to celebrate the passion and authenticity that you bring to every facet of your life. TribeSphere is more than a platform; it's a community that believes in the power of genuine connections, meaningful conversations, and shared experiences.</p>
    <h3 class="pt-2 about-heading">What Sets Us Apart</h3>
    <p>What sets TribeSphere apart is our unwavering commitment to authenticity. We're not just connecting people based on superficial interests; we're uniting individuals who are driven by a true sense of purpose. Whether you're a seasoned expert or just starting out on your journey, TribeSphere is your haven—a place where your voice is heard, your experiences are valued, and your passions are celebrated.</p>
    <h3 class="pt-2 about-heading">Our Vision</h3>
    <p>Our vision is to redefine how connections are formed in the digital age. We envision a world where individuals are recognized and celebrated for their unique interests, and where online interactions lead to real-life friendships and collaborations. Through TribeSphere, we're creating a space where every passion finds its tribe, and where the bonds formed are as genuine as they are enduring.</p>
    <h3 class="pt-2 about-heading">Join TribeSphere</h3>
    <p class="pb-3">TribeSphere is more than just a platform; it's a movement. Join us in celebrating the beauty of connections that stem from the heart. Together, let's create a tapestry of shared passions, authenticity, and community that leaves a lasting impact on each of us.</p>
    <a href="/signup"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="background-color: rgb(99, 25, 133);  border-color:rgb(99, 25, 133);">Sign Up</button></a>
</div>

<%- include("partials/footer.ejs") %>